<div class="container">
    <h2>This is the profile for : {{order.orderData.name}}</h2>

    <h3 style="border-bottom: 1px solid black">Info:</h3>
    <h3>Info: {{order.orderData.info}}</h3>
    <h3>Price: {{order.orderData.active}}</h3>
    <a ng-click="order.edit = !order.edit" class="trash"><span class="fa fa-fa-angle-right fa-2x"></span>Edit</a>
</div>

<form ng-if="order.edit" class="order-form">
    <label></label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="Order name" ng-model="order.orderData.name">
        <input type="text" class="form-control" placeholder="Order info" ng-model="order.orderData.info">
        <input type="text" class="form-control" placeholder="Order price" ng-model="order.orderData.price">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="cake.changeOrder()">Edit</button>
      </span>
    </p>
</form>
