.trash { color:rgb(209, 91, 71); }

.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}

.user-control {
	li {
		float: right;
		padding-left: 2vh;
		border-bottom: none;
	}
	a:hover {
		color: grey;
		border-bottom: 1px solid green;
	}
	.privilege {
		color: blue;
	}
	.invoiced {
		color: green;
	}
}
