<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Users">
      <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span><br>
          <label class="text-muted">Details ID: {{user.details}}</label>
	    </div>
        <ul class="user-control">
          <li><a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a></li>
          <li><a ng-click="admin.createInvoicedUser(user)" class="invoiced"><span class="fa fa-money fa-2x"></span></a></li>
          <li><a ng-click="admin.addDelay(user)" class="privilege"><span class="fa fa-clock-o fa-2x"></span></a></li>
        </ul>
    </li>
  </ul>
    </uib-tab>
    <uib-tab index="1" heading="Orders">
      <orders></orders>
    </uib-tab>
    <uib-tab index="2" heading="Manage products">
      <products></products>
    </uib-tab>
  </uib-tabset>
</div>
