<div class="container">
    <h1>Checkout</h1>

    <div class="row">

        <div class="card col-md-9">
            <md-button ui-sref="order.info">Info</md-button>
            <md-button ui-sref="order.payment">Payment</md-button>
            <md-button ui-sref="order.confirm">Confirm</md-button>

            <div class="payment" ui-view=""></div>
        </div>

        <div class="col-md-2">
            <h2>Invoice</h2>
            <p>items: {{$ctrl.order.items}}</p>
            <p>shipping: {{$ctrl.order.shipping}}</p>
            <p>tax: {{$ctrl.order.tax}}</p>
            <p>discount: {{$ctrl.order.discount}}</p>
            <p>subTotal: {{$ctrl.order.subTotal}}</p>
            <p>total: {{$ctrl.order.total}}</p>
            <a ng-click="$ctrl.addDetails()">Next</a>

            <h2>Status:</h2>
            <label>order ID: {{$ctrl.order._id}}</label>
            <label>name: {{$ctrl.order.name}}</label>
            <label>BillingAddress: {{$ctrl.order.billingAddress}}</label>
            <label>Shipping address: {{$ctrl.order.shippingAddress}}</label>
            <p>User/Buyer ID: {{$ctrl.order.name}}</p>
            <p>Order status: {{$ctrl.order.status}}</p>
            <p> Payment type: {{$ctrl.order.paymentType}}</p>
            <p> Invoiced ID {{$ctrl.order.invoicedID}}</p>
            <p> Stripe ID: {{$ctrl.order.invoicedUserID}}</p>

        </div>
    </div>
</div>