<div class="container">
    <h2>Payment</h2>

    <h3>Enter your card details</h3>
    <div class="payment-form">
        <form name="ccForm" ng-submit="$ctrl.createSource(card, 1)">
            <div class="form-group">
                <label for="card-number">Card Number</label>
                <input type="text" class="form-control" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.cardNumber">
            </div>
            <div class="form-group">
                <label for="cvc">CVC</label>
                <input type="text" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc">
            </div>
            <div class="form-group">
                <label for="card-number">Expiration</label>
                <div class="row" cc-exp>
                    <div class="col-xs-3">
                        <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.exp_month">
                    </div>
                    <div class="col-xs-3">
                        <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.exp_year">
                    </div>
                </div>
            </div>
            <label>Save card?</label>
            <label>Use saved card?</label>
            <br><br>
            <md-button type="submit">Confirm card details</md-button>
            <md-button ng-show="$ctrl.validCard" ng-click="$ctrl.charge($ctrl.source)">Confirm payment</md-button>
            <div class="flex-center-r">
                <p style="font-weight:700; color: red;  " ng-show="$ctrl.paymentStatus">{{$ctrl.paymentStatus}}</p>
            </div>
        </form>

        <div class="warnings">

            <table class="table">
                <tr>
                    <th>Valid</th>
                    <th>Eager Type</th>
                    <th>Type</th>
                    <th>#</th>
                    <th>Valid Month</th>
                    <th>Valid Year</th>
                    <th>Valid Pair</th>
                    <th>Valid CC</th>
                </tr>
                <tr>
                    <td>
                        {{ccForm.ccNumber.$valid | yesNo}}
                    </td>
                    <td>
                        {{ccForm.ccNumber.$ccEagerType || 'Unknown'}}
                    </td>
                    <td>
                        {{ccForm.ccNumber.$ccType || 'Unknown'}}
                    </td>
                    <td>
                        |
                    </td>
                    <td>
                        {{ccForm.ccExpMonth.$valid | yesNo}}
                    </td>
                    <td>
                        {{ccForm.ccExpYear.$valid | yesNo}}
                    </td>
                    <td>
                        {{!ccForm.$error.ccExp | yesNo}}
                    </td>
                    <td>
                        {{ccForm.ccCvc.$valid | yesNo}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>