<h2 style="border-bottom: 1px solid black">
    Enter your info</h2>
Name
<input type="text" class="form-control" ng-model="$ctrl.order.name" placeholder="Buyer name"> Shipping address
<input type="text" class="form-control" ng-model="$ctrl.order.shippingAddress" placeholder="shippingAddress">BillingAddress
<input type="text" class="form-control" ng-model="$ctrl.order.billingAddress" placeholder="billingAddress">

<md-button ng-hide="$ctrl.isLoggedIn()" ng-click="login = !login">Login to fill details</md-button>
<login ng-show="!$ctrl.isLoggedIn() && login"></login>