.photo {
  background-attachment: fixed;
  min-width: 100vh;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
.photo span {
  bottom: 0;
  color: white;
  display: block;
  left: 50%;
  margin-left: -640px;
  font-size: 38px;
  padding: 10px;
  position: absolute;
  text-shadow: 0 2px 0 black, 0 0 10px black;
  width: 1280px;
}
.food {
  background-image: url(/assets/images/1.png);
}

.nature {
  background-image: url(/assets/images/2.png);
}

.cat {
  background-image: url(/assets/images/3.png);
}