<div class="center">
  <div class="auth-container">
    <div class="">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
        <h1>Login</h1>
        <div class="form-group">

          <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="userEmail" ng-model="vm.user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
            />
            <div ng-messages="vm.user.email.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and should be a valid email address.
              </div>
            </div>
          </md-input-container>

        </div>

        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" required type="password" name="userPassword" ng-model="vm.user.password" minlength="3" maxlength="100"
          />
        </md-input-container>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
            Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Please enter a valid email.
          </p>

          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <div>
          <md-button type="submit">Login</md-button>
          <md-button ui-sref="signup">Register</md-button>
          <div class="border-red"></div>
          <md-button ui-sref="main">Home</md-button>
          
        </div>

        <hr/>
          <div class="center-row">
            <oauth-buttons classes="btn-block"></oauth-buttons>

          </div>
      </form>
    </div>
  </div>
  <div class="center seed">
    <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. </p>
    <p> Default account is <code>test@example.com</code> / <code>test</code></p>
    <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
  </div>
  <hr>
</div>