<div class="container">
    <h2>This is the profile for : {{cake.cakeData.name}}</h2>
    <div class="card">
        <div class="container">


            <div class="row">

                <div class="card col-md-8">
                    <h3 style="border-bottom: 1px solid black">Info:</h3>
                    <h3>Info: {{cake.cakeData.info}}</h3>
                    <h3>Price: {{cake.cakeData.price}}</h3>
                    <h3>img Url: {{cake.cakeData.imageUrl}}</h3>
                    <h3>bin: {{cake.cakeData.imageBin}}</h3>

                    <img class="cake-preview" ng-src="{{cake.cakeData.imageUrl}}">
                    <a ng-click="cake.edit = !cake.edit" class="trash"><span class="fa fa-fa-angle-right fa-2x"></span>Edit</a>
                </div>

                <div ng-show="errors" class="alert alert-danger" role="alert">
                    <strong>Error(s):</strong>
                    <p>{{errors}}</p>
                </div>

                <div class="col-md-2">
                    
                    Drop Cake pic:
                    <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                        accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'">Drop cake</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    Files:
                    <ul>
                        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                        
                    </ul>
                    Upload Log:
                    <pre>{{log}}</pre>
                </div>
            </div>


        </div>

    </div>
</div>

<div ng-if="cake.edit" class="card">
    <div class="container">
        <form class="cake-form">
            <label></label>
            <p class="input-group">
                <input type="text" class="form-control" placeholder="Cake name" ng-model="cake.cakeData.name">
                <input type="text" class="form-control" placeholder="Cake info" ng-model="cake.cakeData.info">
                <input type="text" class="form-control" placeholder="Cake price" ng-model="cake.cakeData.price">
                <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="cake.changeCake()">Add Newss</button></span>
            </p>
        </form>
    </div>
</div>
</div>