
<div class="container">
<h1 class="page-header">Cakes:</h1>
<ul ng-repeat="cake in $ctrl.cakes">
    <li><p>{{cake._id}}</p></li>
    <li><p>{{cake.name}}</p></li>
    <li><p>{{cake.info}}</p></li>
    <li><p>{{cake.price}}</p></li>
    <a ng-click="$ctrl.delete(cake)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    <a ng-click="$ctrl.go(cake._id)" class="trash"><span class="fa fa-fa-angle-right fa-2x"></span>go</a>
</ul>

<h2>Make a cake</h2>

<form class="cake-form">
    <label></label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="Cake name" ng-model="$ctrl.newCake.name">
        <input type="text" class="form-control" placeholder="Cake info" ng-model="$ctrl.newCake.info">
        <input type="number" class="form-control" placeholder="Cake price" ng-model="$ctrl.newCake.price">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addCake()">Add New</button>
      </span>
    </p>
</form>

</div>