.thing-form {
  margin: 20px 0;
}

.navbar ul.nav {
  background-color: #1b1f23 !important;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar ul.nav a  {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff !important;
}

.navbar ul.nav a:visited {
  background-color: #1b1f23 !important;
}

.navbar-brand {
  color: #fff !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  letter-spacing: -4;
  margin-top: 15px;
}

.arrow-down {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 0 1000px rgba(38, 38, 38, 0.65);
  margin: auto;

  p {
    color: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.arrow-down:hover {
  box-shadow: inset 0 0 0 1000px rgba(38, 38, 38, 0.9);

}

// .navbar ul.nav:visited {
//   height: 80px
//   display: flex;
//   align-items: center;
// }
// .navbar-default .navbar-nav > .active > a {
//   height: 80px;
//
// }

.navbar {
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.75);
}
#banner {
  border-bottom: none;
  margin-top: -20px;
  height: calc(100vh - 80px);
  background-color: #000000 !important;
  background-image: url('../assets/images/background.jpeg') !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-attachment: fixed !important;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(38, 38, 39, 0.65);



  .container-header {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);


    .logo {
      filter: brightness(0) invert(1);
      height: 200px;
      width: auto;
      margin: 30px;
      }

    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 30px;
    }
  }
}


.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: red;
}

.navbar-text {
  margin-left: 15px;
}

<<<<<<< HEAD
#layer1 {
  z-index: 3;
  position:relative;
  margin: auto;
  background-color: blue;
  border: 2px solid black;
  width: 320px;
  height: 300px;
}

#layer2 {
  z-index: 3;
  border: 2px solid black;
  margin: auto;
  margin-top: -20px;
  width: 640px;
  height: 600px;
  background-color: lightpink;
  position: relative;
}

#layer3 {
  z-index: 3;
  margin: auto;
  margin-top: -20px;
  position: relative;
  background-color: yellow;
  border: 2px solid black;
  width: 960px;
  height: 900px;
}

.landingpage {
  z-index: -1;
  position:relative;
  background-image: url('../assets/images/cer.png');
  background-size: 100% 100%;
  background-repeat: repeat-y;
}

#mountains {
  z-index: 2;
  position:absolute;
  background-image: url('../assets/images/munti.png');
  background-size: 100% 100%;
  bottom: 750px;
  height: 450px;
  width:100%;
  margin: auto;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.parallax_layer--base {
  transform: translateZ(0);
}

.parallax_layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
=======
.navbar {
  min-height: 80px;
  transform: 1s;
  background-color: #1b1f23;
  border: 0;
}

.page-header {
  width: 1200px;
  text-align: center;
}

#cakeContainer {
  height: 250px;
  width: 1200px;
  margin: 0px;
  padding: 10px;
  list-style-type: none;
  text-align: center;
  display: inline;
}

#cake1 {
  margin: auto;
  background-image: url('https://static.pexels.com/photos/6679/hands-summer-party-colorful.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#cake2 {
  margin: auto;
  background-image: url('https://static.pexels.com/photos/130452/pexels-photo-130452.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#cake3 {
  margin: auto;
  background-image: url('https://static.pexels.com/photos/80779/cake-foodporn-night-80779.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.imgWrap {
  position: relative;
  margin: auto;
  padding-left: 30px;
  height: 250px;
  width: 300px;
}

.imgDescription {
  position: absolute;
  height: 250px;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 30px;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
>>>>>>> master
}