<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="card col-md-4" ng-repeat="product in $ctrl.products">
                    <p>{{product._id}}</p>
                    <p>{{product.name}}</p>
                    <p>{{product.info}}</p>
                    <p>{{product.price}}</p>
                    <a ng-click="$ctrl.delete(product)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
                    <a ng-click="$ctrl.go(product._id)" class="trash"><span class="fa fa-fa-angle-right fa-2x"></span>go</a>
                    <ngcart-addtocart id="{{product._id}}" quantity="1" quantity-max="9" name="{{product.name}}" price="{{product.price}}" template-url="components/ngCart/addtocart.html" data="product">Add to Cart</ngcart-addtocart>

                </div>
            </div>
        </div>

        <div class="card col-md-3">
            <h2>Make a product</h2>



            <form class="product-form">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="product name" ng-model="$ctrl.newProduct.name">
                    <input type="text" class="form-control" placeholder="product info" ng-model="$ctrl.newProduct.info">
                    <input type="number" class="form-control" placeholder="product price" ng-model="$ctrl.newProduct.price">
                    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addProduct()">Add New</button>
                </p>
            </form>

            <div ng-show="errors" class="alert alert-danger" role="alert">
                <strong>Error(s):</strong>
                <p>{{errors}}</p>
            </div>



        </div>
    </div>
</div>
